html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blackquote {
    margin: 0;
    padding: 0;    
}
ul, ol{ list-style: none; padding-left :0}
img { max-width: 100%; height: auto; display: block;}
*, *:before, *:after {
    box-sizing: border-box;
}
html { -webkit-text-size-adjust: 100%; }
body {line-height: 1.5; }
a {text-decoration: none; }